
<!doctype html>
<html>
<head>
    <title>Avatar Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Avatar Login</h1>
<br>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> &nbsp;Login with Facebook</a> &nbsp;&nbsp;
        <a href="/auth/google" class="btn btn-social-icon btn-google" style="background-color:tomato; color:white"><span class="fa fa-google"></span> &nbsp;&nbsp;Login with Google</a>
    </div>
</div>
</body>
</html>   
